@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box
}



header{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    height: 50px; 
}
.titledge{
    background-color: #69685b;
    display:flex;
    width: 70%;
    color: #eada4d;
    padding: 5px;
    font-family: 'Mulish', sans-serif;
    font-size: 5mm;
    align-items: center;
}
.titledge:hover{
    cursor:pointer;
    font-size: 10mm;
}
.infos{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    width: 30%;  
    background-color: #eada4d;
    text-align: right;
}
.infos h2 {
    display: flex;
    padding left: 5px;
    font-family: 'Mulish', sans-serif;
    font-size: 5mm;
    text-align: right;
    align-items: center;
}
#logo{
    margin: 5px 0px 5px 0px;
    padding: 5px 0px 5px 0px;
}
.infos h2:hover{
    cursor: pointer;
    color: white;
    transition: color 1s;
}
body{
    background-color: #c9c8c1;   
}
.galeria{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #c9c8c1;
}
.dog{
    width: 250px;
    height: 300px;    
    max-width: 250px;
    max-height: 300px;
    object-fit: contain;
    object-position: center;
    margin: 10px;
    padding: 20px;
    border: auto solid #eada4d;
    background-color: #eada4d;
    
}
.dog:hover{
    cursor: pointer;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE */
    transition: 1.5s;
}
footer{
    background-color:#69685b;
    position:relative;
    bottom:0;
    width:100%;
    height: 50px;
}
p{
    color:#eada4d;
    display: flex;
    justify-content: center;
    font-family:'Mulish', sans-serif;
    font-size: 5mm;
    align-items: center;
    height: 50px;
    }

@media (max-width:700px){
    .titledge{
        display: none;
    }
    .infos{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 150%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    #logo{
        display: none;
    }
    .galeria{
        flex-direction: column;
    }
    .dog{
        width: 100%;
    }
